{% extends "base.html" %}

{% block start %}
<div class="text-center my-4">
    <span><a href="/" class="btn btn-link">Home</a></span>
    <span><a href="/register_page/" class="btn btn-link">Register</a></span>
    <span><a href="/contact/" class="btn btn-link">Contact</a></span>
    <span><a href="/viewRecipies/" class="btn btn-link">View Recipes</a></span>
</div>      

<div class="container mt-5">
    <form class="col-md-6 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        <h2 class="text-center mb-4">Login</h2>
        <hr>
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            {{ message }}
    {% endfor %}
     </div>
        {% if messages %}
<ul class="messages">
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </li>
</ul>
{% endif %}


            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" name='username' placeholder="Enter user name">
            
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name='password' class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            
            <p> you dont have account <a href="/register_page/">register</a></p>
            <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>





{% endblock %}
