{% extends "base.html" %}

{% block start %}
<div class="text-center my-4">
    <span><a href="/" class="btn btn-link">Home</a></span>
    <span><a href="/contact/" class="btn btn-link">Contact</a></span>
    <span><a href="/viewRecipies/" class="btn btn-link">View Recipes</a></span>
</div>      

<div class="container mt-5">
    <form class="col-md-6 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {% comment %} name of user {% endcomment %}
        {% comment %} <h3>Hii {{request.user.first_name}}</h3> {% endcomment %}
        <h2 class="text-center mb-4">Add Recipe</h2>
        <hr>
        <div class="mb-3">
            <label for="recipy_name" class="form-label">Recipe Name</label>
            <input type="text" name="recipy_name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="recipy_description" class="form-label">Recipe Description</label>
            <textarea class="form-control" name="recipy_description" rows="3" required></textarea>
        </div>

        <div class="mb-3">
            <label for="recipy_image" class="form-label">Recipe Image</label>
            <input type="file" class="form-control" name="recipy_image" required>
        </div>

        <button type="submit" class="btn btn-success w-100">Add Recipe</button>
    </form>
</div>

<hr>
<h2 class="text-center mt-5">See Recipes</h2>

<div class="container mt-3">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Recipe Name</th>
                <th scope="col">Recipe Description</th>
                <th scope="col">Image</th>
                <th scope='col'>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipy in recipies %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ recipy.recipy_name }}</td>
                    <td>{{ recipy.recipy_description }}</td>
                    <td>
                        <img src="/media/{{ recipy.recipy_image }}" alt="{{ recipy.recipy_name }}" class="img-thumbnail" style="height: 70px object-fit: cover;">
                    </td>
                    <td>
                        <a href="/delete_recipy/{{recipy.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
